@font-face {
    font-family: "fontBd";
    src: url("LINESeedJP_20230831/Web/WOFF/LINESeedJP_OTF_Bd.woff")
    format("woff");
  }
@font-face {
    font-family: "fontEb";
    src: url("LINESeedJP_20230831/Web/WOFF/LINESeedJP_OTF_Eb.woff")
    format("woff");
  }
@font-face {
    font-family: "fontRg";
    src: url("LINESeedJP_20230831/Web/WOFF/LINESeedJP_OTF_Rg.woff")
    format("woff");
  }
@font-face {
    font-family: "fontTh";
    src: url("LINESeedJP_20230831/Web/WOFF/LINESeedJP_OTF_Th.woff")
    format("woff");
  }

body{
    margin: 60px;
    background: white;
}
h1{
    color:black;
    font-family: "fontEb";
    font-size: 50px;

    text-shadow: 1px 1px 2px whitesmoke;
}
h2{
  color:brown;
  font-family: "fontBd";
}

p{
    
    color: black;
    font-family: "fontRg";
    font-size: 18px;
    line-height: 1.8;
}
footer { 
  font-family: "fontTh";
  text-align: center;
  position: absolute;
}
span {
  display: inline-block;
}

.paragraph{
  text-align: center;
  margin: 16px auto;
  display: block;
}
.paragraph p{
  text-align: left;
  display: inline-block;
}
.mb2{
  margin-bottom: 1em;
}
img {
  width: 100%;
}
